language: node_js
node_js:
  - "12"

cache:
  directories:
    - node_modules

script:
  - yarn lint:no-fix
  - yarn test
  - yarn build:demo


deploy:
  provider: pages
  local_dir: demo
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  on:
    branch: master
