.v-switch {
  .toggle__dot {
    top: -0.25rem;
    left: -0.25rem;
    transition: all 0.3s ease-in-out;
  }

  input:checked ~ .toggle__dot {
    transform: translateX(100%);
    @apply bg-green-500;
  }
}
