.#{$vt-namespace}__icon {
  margin: auto 18px auto 0px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  transition: 0.3s ease;
  align-items: center;
  width: 20px;
  height: 100%;
  .#{$vt-namespace}__toast--rtl & {
    margin: auto 0px auto 18px;
  }
}
